# ビルド済みファイル
Jeeek
server/server
cmd/jeeek_api/jeeek_api
cmd/jeeek_api-cli/jeeek_api-cli

# シークレットファイル
.env.test
secret.yaml
firebase-service-key-*.json
gae-service-key-*.json

# datastore エミュレートで使うやつ
testds/
devds/

# その他
.idea
*.DS_Store
cmd/
coverage.txt
